html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 15px;
  background-color: rgb(108, 113, 113);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

 
.grid-item {
  border: 1px solid #ccc;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
}



.item1 {
  background-image: url('/img/1.jpeg');
  grid-column: span 3; 
  grid-row: span 2;
}

.item2 {
  background-image: url('/img/2.jpeg');
}

.item3 {
  background-image: url('/img/3.jpeg');
  grid-column: span 2; 
  grid-row: span 3;
}

.item4 {
  background-image: url('/img/4.jpeg');
  grid-row: span 2;
}

.item5 {
  background-image: url('/img/5.jpeg');
  grid-column: span 3; 
}

.item6 {
  background-image: url('/img/6.jpeg');
  grid-column: span 2; 
}

.item7 {
  background-image: url('/img/7.jpeg');
  grid-column: span 1; 
  grid-row: span 2;
}

.item8 {
  background-image: url('/img/8.jpeg');
  grid-column: span 3; 
}

.item9 {
  background-image: url('/img/9.jpeg');
  grid-row: span 2;
}

.item10 {
  background-image: url('/img/10.jpeg');
  grid-column: span 2; 
}

.item11 {
  background-image: url('/img/11.jpeg');
  grid-column: span 2; 
  grid-row: span 2;
}

.item12 {
  background-image: url('/img/12.jpeg');
  grid-column: span 3; 
}
