#h1{
font: style Rem 100px;
color: beige;
background-color:rgb(234, 195, 234) ;
}

#h2{
    font: size vm 10px;
    font-style: normal;
    color: rgb(41, 12, 92);
    background-color:rgb(241, 241, 241) ;
}

p{  font: size Rem 100px;
    color: rgb(62, 25, 149);
}

.p{ font: size Rem 100px; 
    color: rgb(211, 28, 28);
}

.link{
    font-style: italic;
}
.enhance{
    color: yellow;
    background-color: black;
    font-style: italic;
}
