/* Resetting some browser defaults */
body, h1, h2, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.Card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Card h1, .Card h2, .Card h4 {
    margin-bottom: 15px;
}

.Card img {
    max-width: 90px; 
    border-radius: 50%; 
    display: block;
    margin: 0 auto; /* centering the image */
}

.p {
    margin-bottom: 15px;
    background-color: #e0e0e0; 
    color: #333;               
    font-family: 'Roboto', sans-serif;  
    padding: 10px;             
}


.enhance {
    font-weight: bold;
    color: #ff4500;

}