html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
}

h2 {
    text-align: center;
}

.main {
    background-color: rgb(153, 152, 151);
    height: 70vh;
}

.flex-box {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    border: 1px solid blueviolet;
}

#big {
    font-size: 2rem;
    color: black;
    text-align: center;
    background-color: purple;
    padding: 20px;
    margin-bottom: 15px;
    width: 68%;
    height: 40vh;
}

#small {
    font-size: 2rem;
    color: black;
    text-align: center;
    background-color: green;
    padding: 20px;
    margin-bottom: 15px;
    width: 30%;
    height: 40vh;
    order: -1;
    margin-top: 100px;
}

@media(max-width: 500px){
#small{
    display: none;
}
#big{
    width: 80%;
    height: 80vh;
}


}