html body{
box-sizing: border-box;
padding:0;
margin:0;
}

.flex-con{
    height: 100vh;
    background-color: bisque;
    display: flex ;
    justify-content: flex-end;
    align-items: flex-end;
}

.item-1{
background-color: green;
width: 100px;
height: 100px;
}

.item-2{
background-color: blue;
width: 100px;
height: 100px;
}

.item-3{
background-color: red;
width: 100px;
height: 100px;
}